header{
    width: 100%;
    height: 70px;
    background-color: #C1121F;
    display: flex;
}
.header-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;

    > h2{
        margin: 0;
        font-size: 2rem;
        
        > a{
            color: #FFFFFF;
        }
    }
    > a {
        background: url('../images/carrinho.svg') no-repeat;
        background-size: 35px;
        width: 35px;
        aspect-ratio: 1/1;
    }
}
main{
    background: blue;
}
.row-wrapper{
    display: flex;
    flex-direction: column;
}
.row-one{
    height: 350px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    > h2{
        margin: 0;
        padding-top: 30px;
        text-transform: uppercase;
        font-size: 3rem;
        font-weight: 700;
        position: relative;
    }
    .row-content{
        display: flex;
        width: 100%;
        height: 265px;
        gap: 80px;
        justify-content: space-around;
        align-items: flex-end;
        overflow: visible;

        > .column-one{
            padding-right: 10%;
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            height: 100%;

            > p{
                font-size: 1.8rem;
                margin: 0;
            }

            > .column-price{
                display: flex;
                justify-content: flex-start;

                > p{
                    font-size: 1.4rem;
                    margin: 0;
                    padding-top: 6px;
                    padding-right: 5px;
                }
                > b{
                    font-size: 3rem;
                }
            }
            > button{
                z-index: 2;
                position: relative;
                cursor: pointer;
                margin-top: 25px;
                background-color: #ECD0AC;
                padding: 0px 39px;
                border-radius: 8px;
                font-size: 1rem;
                font-weight: 600;
                transition: all 0.2s, color 0.1s;
                overflow: hidden;

                > p{
                    color: #000000;
                    margin: 10px 0px;
                    transition: all 0.2s;
                }
            }
            > button::after{
                content: '';
                position: absolute;
                background: url('../images/carrinho.svg') no-repeat;
                background-size: contain;
                width: 20px;
                aspect-ratio: 1/1;
                top: 50%;
                right: 0;
                transform: translate(100%, -50%);
                transition: all 0.2s ease;
            }
            > button:hover{
                background: transparent;
                outline: 1px solid #ECD0AC;

                > p{
                    color: #FFFFFF;
                    transform: translateX(-10px);
                }
            }
            > button:hover::after{
                transform: translate(-70%, -50%);
            }
        }

        > .column-two{
            position: relative;
            width: 30%;
            height: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;

            img{
                top: -50px;
                left: -400px;
                position: absolute;
                z-index: 0;
                width: 550px;
                object-fit: contain;
            }
            > p{
                width: 100%;
                text-transform: uppercase;
                color: #ECD0AC;
                font-size: 1.7rem;
            }
        }
        
    }
}
.row-two{
    height: 700px;
    width: 100%;
    display: flex;

    > .column-one{
        width: 50%;
        height: 100%;
        background-color: #F82020;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        > p{
            font-size: 2rem;
            font-weight: 600;
            margin-top: 20px;
            margin-bottom: 15px;
        }

        img{
            width: 270px;
        }
        > .column-price{
            display: flex;
            
            > p{
                font-size: 1.4rem;
                margin: 0;
                padding-top: 8px;
                padding-right: 5px;
            }
            > b{
                font-size: 3rem;
            }
            > p:last-child{
                padding-top: 36px;
                padding-left: 5px;
                align-content: flex-end;
            }

        }
        > button{
            position: relative;
            cursor: pointer;
            margin-top: 25px;
            background-color: #FFFFFF;
            padding: 0px 44px;
            border-radius: 8px;
            font-size: 1rem;
            font-weight: 600;
            transition: all 0.2s, color 0.1s;
            overflow: hidden;

            > p{
                color: #F82020;
                margin: 10px 0px;
                transition: all 0.2s;
            }
        }
        > button::after{
            content: '';
            position: absolute;
            background: url('../images/carrinho.svg') no-repeat;
            background-size: contain;
            width: 20px;
            aspect-ratio: 1/1;
            top: 50%;
            right: 0;
            transform: translate(100%, -50%);
            transition: all 0.2s ease;
        }
        > button:hover{
            background: transparent;
            outline: 1px solid #FFFFFF;

            > p{
                color: #FFFFFF;
                transform: translateX(-10px);
            }
        }
        > button:hover::after{
            transform: translate(-70%, -50%);
        }
    }

    > .column-two{
        overflow: hidden;
        width: 50%;
        height: 100%;
        background-color: #150578;
        display: flex;
        flex-direction: column;
        align-items: center;

        > .column-row-one{
            display: flex;
            align-items: center;

            > p{
                font-size: 2.2rem;
                color: #FFD60A;
                transform: translateX(-50%);
            }
            img{
                width: 450px;
            }
        }
        > .column-row-two{
            position: relative;
            display: flex;
            justify-content: center;
            align-self: flex-start;
            width: 70%;
            
            > p{
                position: absolute;
                text-transform: uppercase;
                font-size: 2.5rem;
                line-height: 2.6rem;
                font-weight: 600;
                padding-left: 20px;
                margin: 0;
                top: -90px;
            }

        }
        > .column-price{
            margin-top: 55px;
            display: flex;
            justify-content: flex-start;

            > p{
                font-size: 1.4rem;
                margin: 0;
                padding-top: 6px;
                padding-right: 5px;
            }
            > b{
                font-size: 3rem;
            }
        }
        > button{
            position: relative;
            cursor: pointer;
            margin-top: 37px;
            background-color: #D6B300;
            padding: 0px 39px;
            border-radius: 8px;
            font-size: 1rem;
            font-weight: 600;
            transition: all 0.2s, color 0.1s;
            overflow: hidden;

            > p{
                color: #FFFFFF;
                margin: 10px 0px;
                transition: all 0.2s;
            }
        }
        > button::after{
            content: '';
            position: absolute;
            background: url('../images/carrinho.svg') no-repeat;
            background-size: contain;
            width: 20px;
            aspect-ratio: 1/1;
            top: 50%;
            right: 0;
            transform: translate(100%, -50%);
            transition: all 0.2s ease;
        }
        > button:hover{
            background: transparent;
            outline: 1px solid #D6B300;

            > p{
                color: #FFFFFF;
                transform: translateX(-10px);
            }
        }
        > button:hover::after{
            transform: translate(-70%, -50%);
        }
    }
}
.row-three{
    display: flex;
    height: 500px;

    > .column-one{
        display: flex;
        flex-direction: column;
        width: 60%;
        background-color: #D9ED92;

        > .column-row-one{
            display: flex;
            height: 80%;
            width: 80%;
            justify-content: center;
            align-items: center;

<<<<<<< HEAD
            > img{
=======
            img{
>>>>>>> 307b9d7943f1064898861879f97fc5c324e9fc9a
                width: 300px;
            }
            > .row-content{
                color: #000000;

                > p{
                    font-size: 2.2rem;
                    font-weight: 700;
                }
                > .column-price{
                    margin-top: 55px;
                    display: flex;
                    justify-content: flex-start;
        
                    > p{
                        font-size: 1.4rem;
                        margin: 0;
                        padding-top: 7px;
                        padding-right: 5px;
                    }
                    > b{
                        font-size: 3rem;
                    }
                    > p:last-child{
                        align-self: flex-end;
                    }
                }
                > button{
                    position: relative;
                    cursor: pointer;
                    margin-top: 37px;
                    background-color: #57CC99;
                    padding: 0px 39px;
                    border-radius: 8px;
                    font-size: 1rem;
                    font-weight: 600;
                    transition: all 0.2s, color 0.1s;
                    overflow: hidden;
        
                    > p{
                        color: #FFFFFF;
                        margin: 10px 0px;
                        transition: all 0.2s;
                    }
                }
                > button::after{
                    content: '';
                    position: absolute;
                    background: url('../images/carrinho.svg') no-repeat;
                    background-size: contain;
                    width: 20px;
                    aspect-ratio: 1/1;
                    top: 50%;
                    right: 0;
                    transform: translate(100%, -50%);
                    transition: all 0.2s ease;
                }
                > button:hover{
                    background: transparent;
                    outline: 1px solid #57CC99;
        
                    > p{
                        color: #000000;
                        transform: translateX(-10px);
                    }
                }
                > button:hover::after{
                    transform: translate(-70%, -50%);
                    filter: invert(100%);
                }
            }
        }
        > .column-row-two{
            position: relative;
            height: 20%;
            background-color: #C1121F;
            display: flex;
            overflow: hidden;
            user-select: none;

            > p{
                margin: 0;
                font-size: 8rem;
                font-weight: 900;
                position: absolute;
                top: -30%;
                transition: all 0.4s;
            }
            > div{
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                

                > p{
                    position: relative;
                    z-index: 2;
                    padding: 10px;
                    background-color: #0000004f;
                    border-radius: 8px;
                    backdrop-filter: blur(4px);
                    font-size: 1.5rem;
                    font-weight: 500;
                    transition: all 0.4s;
                }
            }
        }
        > .column-row-two:hover{

            > p{
                transform: rotate(-3deg);
                filter: blur(2px);
                top: -60%;
                font-size: 10rem;
                white-space: nowrap;
            }
            > div{
                > p{
                    font-size: 1.8rem;
                    background-color: #00000063;
                    backdrop-filter: blur(8px);
                    padding: 12px;
                }
                > p:first-child{
                    transform: rotate(-2deg) translateY(-10px);
                }
                > p:last-child{
                    transform: rotate(3deg) translate(-20px, 10px);
                }
            }
        }
    }

    > .column-two{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 40%;
        background-color: #BB3E03;

        img{
            width: 400px;
            height: 200px;
            object-fit: cover;
        }
        > p{
            text-align: center;
            font-size: 2rem;
            font-weight: 600;
            margin: 0;
        }
        > .column-price{
            margin-top: 20px;
            display: flex;
            justify-content: flex-start;

            > p{
                font-size: 1.4rem;
                margin: 0;
                padding-top: 6px;
                padding-right: 5px;
            }
            > b{
                font-size: 3rem;
            }
        }
        > button{
            position: relative;
            cursor: pointer;
            margin-top: 37px;
            background-color: #FFFFFF;
            padding: 0px 39px;
            border-radius: 8px;
            font-size: 1rem;
            font-weight: 600;
            transition: all 0.2s, color 0.1s;
            overflow: hidden;

            > p{
                color: #BB3E03;
                margin: 10px 0px;
                transition: all 0.2s;
            }
        }
        > button::after{
            content: '';
            position: absolute;
            background: url('../images/carrinho.svg') no-repeat;
            background-size: contain;
            width: 20px;
            aspect-ratio: 1/1;
            top: 50%;
            right: 0;
            transform: translate(100%, -50%);
            transition: all 0.2s ease;
        }
        > button:hover{
            background: transparent;
            outline: 1px solid #FFFFFF;

            > p{
                color: #FFFFFF;
                transform: translateX(-10px);
            }
        }
        > button:hover::after{
            transform: translate(-70%, -50%);
        }
    }
}

.image-container{
    overflow: hidden;
    border-radius: 10px;
}
.zoom-container {
    transition: transform 0.3s ease;
    cursor: zoom-in;
}
.image-container:hover .zoom-container {
    transform: scale(1.8);
}
