main{
    color: #262626;
    margin-left: 20px;
}
main.credito,
main.debito{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h3{
        color: #C1121F;
        font-weight: 600;
        font-size: 1.5rem;
        margin: 0;
        margin-bottom: 40px;
    }
    form{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 80%;
    
        > section{
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px;
    
            > button{
                padding: 10px;
            }
            > div:not(:first-child):has(input:focus), 
              div:not(:first-child):has(input:not(:placeholder-shown)){
                margin-top: 15px;
            }
            > div:has(input:focus), 
              div:has(input:not(:placeholder-shown)){
                outline: 1px solid #8b8b8b;
                outline-offset: 5px;
                border-radius: 5px;
            }

            > button{
                cursor: pointer;
                background-color: #e6e6e6;
                font-size: 1rem;
                transition: all 0.3s;
    
            }
            > button:hover{
                color: #FFFFFF;
                background-color: #C1121F;
                border-radius: 10px;
            }
        }
        .card-number-input span{
            position: absolute;
            right: 0;
            top: 50%;
            translate: 0 -50%;
            font-size: 0.9rem;

        }
        .installments-input:has(select:valid){
            margin-top: 15px;
        }
        > section > div{
            
            display: flex;
            flex-direction: column-reverse;
            width: 100%;
            position: relative;
            transition: all 0.3s;
    
            > input{
                border: 0;
                padding: 13px;
                background-color: #f8f8f8;
                border-radius: 5px;
                transition: all 0.3s;
            }
            > input:focus,
            > select:focus {
                outline: none;
            }
            > input:not(:placeholder-shown):valid, 
            > input:not(:placeholder-shown):valid + label,
            > select:valid, 
            > select:valid + label {
                background-color: #d1ffd0;
            }
            > input:not(:placeholder-shown):invalid, 
            > input:not(:placeholder-shown):invalid + label,
            > select:invalid, 
            > select:invalid + label {
                background-color: #ffdfdf;
            }
            > input:focus + label, 
            > input:not(:placeholder-shown) + label,
            > select:focus + label, 
            > select:valid + label {
                top: -50%;
                left: 2%;
                padding: 5px;
                opacity: 1;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
            > input:focus:invalid, 
            > input:focus:invalid + label,
            > select:focus:invalid, 
            > select:focus:invalid + label {
                background-color: #fff3d8;
            }
            > label{
                background-color: #f8f8f8;
                pointer-events: none;
                position: absolute;
                top: 27%;
                left: 5%;
                opacity: 0.7;
                font-size: 0.9rem;
                transition: all 0.3s;
            }
            select{
                cursor: pointer;
                border: 0;
                padding: 13px;
                background-color: #f8f8f8;
                border-radius: 5px;
                transition: all 0.3s;
            }
            select:valid,
            select:focus{
                outline: 1px solid #8b8b8b;
                outline-offset: 5px;
                border-radius: 5px;
            }

        }
    }
    .copycode{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        width: 50%;

        b{
            font-size: 1.1rem;
        }
        p{
            font-size: 1rem;
            display: flex;
            overflow-x: scroll;
        }
        p::-webkit-scrollbar {
            height: 2px;
        }

        p::-webkit-scrollbar-thumb {
            background-color: #C1121F;
            border-radius: 3px;
        }
        p::-webkit-scrollbar-track {
            background-color: #eeeeee;
        }

        > div{
            position: relative;
            width: 90px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            border-radius: 7px;
        }
    }
    .security-code-input,
    .expiry-date-input,
    .installments-input{
        width: 20%;
        flex-grow: 1;
    }
    button{
        width: 100%;
        font-size: 1.1rem;
        letter-spacing: 1px;
    }
    .security-code-input label,
    .expiry-date-input label,
    .installments-input label{ 
        top: 50%;
        left: 15%;
    }

}
main.debito{
    .cardholder-input{
        opacity: 0.2;

        input{
            cursor: not-allowed;
            pointer-events: none;
            background-color: #ffdfdf !important;
        }
        label{
            background-color: #ffdfdf !important;
        }
    }
    .installments-input{
        opacity: 0.2;
        cursor: not-allowed;

        select{
            pointer-events: none;
            background-color: #ffdfdf !important;

            + label{
                background-color: #ffdfdf !important;
            }
        }
    }
}

main.boleto{

    h3{
        color: #C1121F;
        font-weight: 600;
        font-size: 1.5rem;
    }
    > div{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        
        b{
            font-size: 1.1rem;
        }
        > p{
            font-size: 1.1rem;
            margin-bottom: 15px;
        }
        > div{
            position: relative;
            width: 90px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            border-radius: 7px;
        }
    }

    .copy{
        background-color: #eeeeee;
        outline: 1px solid #cecece;
        position: relative;
        z-index: 3;
        width: 100%;
        height: 100%;
        cursor: pointer;
        font-size: 1rem;
        border-radius: 5px;
        padding: 7px 14px;
        transition: 
        all 0.2s, 
        scale 0.3s cubic-bezier(0.5, -2, 0.5, 2),
        rotate 0.1s cubic-bezier(0.5, -2, 0.5, 2);

    }
    .copy:hover{
        outline: 1px solid transparent;
        transform: scale(0.9);
    }
    .copy:hover + span{
        opacity: 1;
    }   
    .copy.active{
        rotate: 3deg;
    }
    span{
        border-radius: 50%;
        opacity: 0;
        width: 90px;
        aspect-ratio: 1/1;
        filter: blur(10px);
        background: conic-gradient(#ffbe0b, #fb5607, #ff006e, #8338ec, #3a86ff);
        position: absolute;
        transition: opacity 0.3s ease-in-out;
        animation: rotate linear 1.3s infinite;
        pointer-events: none;
    }

}
@keyframes rotate {
    0%{
        rotate: 0deg;
    }
    100%{
        rotate : 360deg;
    }
}

main.pix{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

            
    h3{
        color: #C1121F;
        font-weight: 600;
        font-size: 1.5rem;
    }

    .Qrcode{
        display: flex;
        flex-direction: column;
        margin-left: 10px;

        b{
            font-size: 1.1rem;
        }
        img{
            width: 200px;
            height: 200px;
            margin-bottom: 15px;
            align-self: center;
            margin: 20px 0;
        }
    }
    .copycode{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        width: 50%;

        b{
            font-size: 1.1rem;
        }
        p{
            font-size: 1rem;
            display: flex;
            overflow-x: scroll;
        }
        p::-webkit-scrollbar {
            height: 2px;
        }

        p::-webkit-scrollbar-thumb {
            background-color: #C1121F;
            border-radius: 3px;
        }
        p::-webkit-scrollbar-track {
            background-color: #eeeeee;
        }

        > div{
            position: relative;
            width: 90px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            border-radius: 7px;
        }
    }
    .copy{
        background-color: #eeeeee;
        outline: 1px solid #cecece;
        position: relative;
        z-index: 3;
        width: 100%;
        height: 100%;
        cursor: pointer;
        font-size: 1rem;
        border-radius: 5px;
        padding: 7px 14px;
        transition: 
        all 0.2s, 
        scale 0.3s cubic-bezier(0.5, -2, 0.5, 2),
        rotate 0.1s cubic-bezier(0.5, -2, 0.5, 2);

    }
    .copy:hover{
        outline: 1px solid transparent;
        transform: scale(0.9);
    }
    .copy:hover + span{
        opacity: 1;
    }   
    .copy.active{
        rotate: 3deg;
    }
    span{
        border-radius: 50%;
        opacity: 0;
        width: 90px;
        aspect-ratio: 1/1;
        filter: blur(10px);
        background: conic-gradient(#ffbe0b, #fb5607, #ff006e, #8338ec, #3a86ff);
        position: absolute;
        transition: opacity 0.3s ease-in-out;
        animation: rotate linear 1.3s infinite;
        pointer-events: none;
    }
}
