main{
    color: #262626;
    margin-left: 20px;
}
main.boleto{

    h3{
        color: #C1121F;
        font-weight: 600;
        font-size: 1.5rem;
    }
    > div{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        
        b{
            font-size: 1.1rem;
        }
        > div{
            position: relative;
            width: 90px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            border-radius: 7px;
        }
    }

    .copy{
        background-color: #eeeeee;
        outline: 1px solid #cecece;
        position: relative;
        z-index: 3;
        width: 100%;
        height: 100%;
        cursor: pointer;
        font-weight: 500;
        font-size: 1rem;
        border-radius: 5px;
        padding: 7px 14px;
        transition: all 0.3s cubic-bezier(0.5, -2, 0.5, 2), color 0.1s;

    }
    .copy:hover{
        outline: 1px solid transparent;
        transform: scale(0.9);
    }
    .copy:hover + span{
        opacity: 1;
    }   
    .copy:active{
        rotate: 5deg;
        font-weight: 700;
    }
    span{
        border-radius: 50%;
        opacity: 0;
        width: 90px;
        aspect-ratio: 1/1;
        filter: blur(10px);
        background: conic-gradient(#ffbe0b, #fb5607, #ff006e, #8338ec, #3a86ff);
        position: absolute;
        transition: opacity 0.3s ease-in-out;
        animation: rotate linear 1.3s infinite;
        pointer-events: none;
    }

}
@keyframes rotate {
    0%{
        rotate: 0deg;
    }
    100%{
        rotate : 360deg;
    }
}