body{
    height: 100dvh;
}
header{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #C1121F;;

    > h2{
        margin: 0;
        font-size: 2rem;
        padding-left: 50px;

        > a{
            color: #FFFFFF;
        }
    }
}
main{
    color: #262626;
    display: flex;
    flex-direction: column;
    align-items: center;

    > div{
        display: flex;
        width: 80%;
        justify-content: space-between;
        align-items: center;

        > h3{
            font-size: 2rem;
            color: #C1121F;
        }
        > div{
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 2rem;

            > p{
                margin-bottom: 15px;
                font-size: 1.5rem;
            }
        }
    }
}
section{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    width: 80%;

    > div > div:first-child{
        background-color: #cecece;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    > div > div:nth-child(2){
        background-color: #ececec;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    > div > div > h4{
        margin: 0;
        font-size: 1.3rem;
        font-weight: 500;
        padding: 12px;
    }
    div > ul{
        margin: 0;
        padding: 15px;
        list-style-type: none;
        display: flex;
        flex-direction: column;

        > li{
            cursor: pointer;
            font-weight: 400;
            font-size: 1.1rem;
            margin: 2px 0;
            width: fit-content;
            padding: 7px;         
            outline: 1px solid transparent;
            transition: all 0.3s 0.2s, font-weight 0.2s;

            a {
                transition: all 0.3s 0.2s;
            }
        }
        > li.active{
            transform: translateX(25px) !important;
            margin: 5px 0;
            background-color: #FFFFFF;
            outline: 1px solid #C1121F;
            border-radius: 5px;
            font-weight: 500;
        }
        > li:hover{
            transform: translateX(15px);
            border-radius: 5px;
            background-color: #FFFFFF;
            transition: all 0.3s;

            > a{
                color: #C1121F;
                transition: all 0.3s;
            }
        }
    }
    .iframe{
        width: 70%;

        > iframe{
            width: 100%;
            height: 500px;
        }
    }
}
label{
    cursor: pointer;
}
