@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    margin: 0;
    font-family: 'Inter', sans-serif, system-ui;
    color: #FFFFFF;
}
button{
    appearance: none;
    border: 0;
    padding: 0;
    outline: none;
}
input{
    appearance: none;
    border: 0;
}

label{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #262626;
}